.bio-banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

/* Mobile View - When screen width is less than 768px */
@media only screen and (max-width: 768px) {

    .bio-banner{
        margin-top: 101.820px;
        height: 20vh;
    }    
}