.testimonials-banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
}

.testimonials-banner-blur{
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100%; 
    width: 100%;
}

blockquote p{
    margin-top: 2em;
}

/* Mobile View - When screen width is less than 768px */
@media only screen and (max-width: 768px) {

    .testimonials-banner{
        margin-top: 101.820px;
        height: 20vh;
    }    
}